#water {
  background: url(https://cdn.discordapp.com/attachments/522345297259659264/552144006046416906/water.png)
    no-repeat;
  background-size: 23%;
}

#telefon {
  background: url(https://cdn.discordapp.com/attachments/522345297259659264/552143993509642261/phone.png)
    no-repeat;
  background-size: 70%;
}

#lockpick {
  background: url(https://gamepedia.cursecdn.com/dayz_gamepedia/a/ac/Lockpick.png)
    no-repeat;
  background-size: 50%;
}

#chain {
  background: url(https://listimg.pinclipart.com/picdir/s/350-3500790_black-chain-png-silver-neck-chain-png-clipart.png)
    no-repeat;
  background-size: 50%;
}

#earrings {
  background: url(https://cdn2.iconfinder.com/data/icons/rings-things/48/Jee-21-512.png)
    no-repeat;
  background-size: 50%;
}

#goldearrings {
  background: url(https://cdn2.iconfinder.com/data/icons/treasure-3/50/32-512.png)
    no-repeat;
  background-size: 50%;
}

#rolex {
  background: url(https://i.dlpng.com/static/png/278815_thumb.png) no-repeat;
  background-size: 50%;
}

#goldplatedwatch {
  background: url(https://ui-ex.com/images/vector-watch-gold-1.png) no-repeat;
  background-size: 50%;
}

#barkersofkensingtonhypersport {
  background: url(https://www.biedenwin.nl/images/800x600/2171/2064_564_2.jpg)
    no-repeat;
  background-size: 50%;
}

#silverwatch {
  background: url(https://png.pngtree.com/element_pic/00/16/08/1457b07c5a960e9.jpg)
    no-repeat;
  background-size: 50%;
}

#vwbadge {
  background: url(https://www.freepnglogos.com/uploads/vw-png-logo/brand-volkswagen-png-logo-17.png)
    no-repeat;
  background-size: 50%;
}

#goldchain {
  background: url(https://www.freeiconspng.com/uploads/thug-life-gold-chain-png-pictures-23.png)
    no-repeat;
  background-size: 50%;
}

#watch {
  background: url(https://png.pngtree.com/element_pic/00/16/08/2257badbc98922f.jpg)
    no-repeat;
  background-size: 50%;
}

#weed {
  background: url(https://cdn3.iconfinder.com/data/icons/nature-emoji/50/Marijuana-512.png)
    no-repeat;
  background-size: 50%;
}

#marijuana {
  background: url(
      https://ih0.redbubble.net/image.84647802.6104/tpr,
      875x875,
      s.6u1.png
    )
    no-repeat;
  background-size: 50%;
}

#rawcocaine {
  background: url(https://cdn.iconscout.com/icon/premium/png-256-thumb/cocaine-1427891-1207254.png)
    no-repeat;
  background-size: 80%;
}

#cocaine {
  background: url(https://static.thenounproject.com/png/122404-200.png)
    no-repeat;
  background-size: 80%;
}

#cocainebrick {
  background: url(https://cdn.discordapp.com/attachments/565526874361430018/576417169513119745/cocainebrick.png)
    no-repeat;
  background-size: 80%;
}

#WEAPON_PISTOL {
  background: url(http://pngimg.com/uploads/gun/gun_PNG1358.png) no-repeat;
  background-size: 80%;
}

#WEAPON_APPISTOL {
  background: url(https://vignette.wikia.nocookie.net/the-gta-online/images/3/34/APPistol-GTAV.png/revision/latest/scale-to-width-down/210?cb=20150519175336)
    no-repeat;
  background-size: 80%;
}

#WEAPON_HEAVYPISTOL {
  background: url(https://www.gtabase.com/images/gta-5/weapons/handguns/heavy-pistol.png)
    no-repeat;
  background-size: 230%;
}

#WEAPON_BAT {
  background: url(https://gamepedia.cursecdn.com/thedeadlinger_gamepedia/thumb/3/3c/Weapon_melee_baseballbat_wooden.png/150px-Weapon_melee_baseballbat_wooden.png?version=0c306666934df721bb14d98bba49c7a9)
    no-repeat;
  background-size: 70%;
}

#WEAPON_ASSAULTRIFLE {
  background: url(http://pngimg.com/uploads/ak47/ak47_PNG15471.png) no-repeat;
  background-size: 100%;
}
